.form-container {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 50px auto;
    width: 40vw;
    min-width: 400px;
    max-width: 500px;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.form-container h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.fields-wrapper {
    width: 80%;
    margin: auto;
}

.form-field {
    width: 100%;
    margin: 20px 0;
}

.form-field input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 8px;
}

.form-field div {
    margin: 10px 0 0 0;
}

.login-btn,
.signup-btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
    background-color: #2980b9;
}

.response {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;

    text-align: center;
    min-height: 18px;
}

.response span {
    border-radius: 2px;
    padding: 5px 10px;
    color: #FFF;
}

.form-footer {
    margin: 25px auto;
}

.form-footer .next-link {
    color: #6AF;
}