/* OrderSummary.css */
.order-summary-container {
    margin-top: 20px;
}

.order-summary-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
}

.order-summary-container div {
    margin: 0;
}

.order-summary-container input {
    margin: 10px 0;
}

.order-summary-container button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-summary-container button:hover {
    background-color: #27ae60;
}