.view-btn {
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: royalblue;
}