table {
    border-collapse: collapse;
    min-width: 800px;
}

td,th {
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    background-color: #FFFFFF50;
}

.no-orders {
    height: 100px;
}

